<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">



    <servlet>
        <display-name>Imie</display-name>
        <servlet-name>Imie</servlet-name>
        <servlet-class>kaceper.Imie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Imie</servlet-name>
        <url-pattern>/Imie</url-pattern>
    </servlet-mapping>
</web-app>

